################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LokaalneAndmepyydja/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/AndmeSalvestaja/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Arvutaja/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/ClassTest/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/ClassTest/obj/Debug/ClassTest.csproj.AssemblyReference.cache
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/InternetiAndmepyydja/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Kasutajaliides/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Kasutajaliides/obj/Release/Kasutajaliides.csproj.AssemblyReference.cache
